<div id="sidebar">
    <a style="{{active1}}" href="/inputs/course_session">Classroom Session</a>
    <br>
    <br>
    
    <a style="{{active2}}" href="/inputs/instructor_to_session">Assign an Instructor to a Classroom Session</a>
    <br>

    
    <a style="{{active3}}" href="/inputs/learners_into_courses">Assign a Learner to a Classroom Session</a>
    <br>


    <a style="{{active4}}" href="/inputs/KLR_with_Name_of_Sessions">Assign a KLR to a Course Type</a>
    <br>

    <a style="{{active5}}" href="/inputs/KLR_with_Instructors">Assign a KLR to an Instructor</a>
    <br>
    <br>

    <a style="{{active6}}" href="/inputs/new_learner">Learners</a>
    <br>

    <a style="{{active7}}" href="/inputs/siteClassroom">Classrooms</a>
    <br>

    <a style="{{active8}}" href="/inputs/newSessionName">Course Type</a>
    <br>

    <a style="{{active9}}" href="/inputs/newKLR">KLRs</a>
    <br>
    <br>

    <a style="{{active10}}" href="/inputs/instructor">Instructors</a>
    <br>

    <a style="{{active11}}" href="/inputs/KLR_with_Instructors">Assign KLR to instructor
    <br>

    <a style="{{active12}}" href="/inputs/instructor_vacations">Instructor Vacations</a>
    <br>

    <a style="{{active13}}" href="/inputs/instructor_leaves">Instructor Leaves</a>
    <br>

    <a style="{{active14}}" href="/inputs/instructor_office_days">Instructor Office Days</a>
    <br>
    <br>

    <a style="{{active15}}" href="/inputs/show_instructors_on_day">Search Instructors by day </a>
    <br>
</div>