<!DOCTYPE html>
<header>
  <title> CST Classroom Session</title>
  <link href="/css/home.css" rel="stylesheet" type="text/css" />
</header>

<body>
  {{> sidebar }}
  <div id='addDataBox'>
    <div id='loginFormDiv'>
      <form method="post">
        <div id="login__wrapper">
          <h2>Edit or Delete Classroom Session</h2>
          <div id="ClassroomSessions">
            <div class="form__group">
              <select style="width:100%; height:34px" name="courseRecordID">
                {{#each sessionsList}}
                <option value={{this.courseRecordID}}>{{this.Type}} -- {{this.site}}, {{this.classroomName}} -- {{this.startTime}}</option>
                {{/each}}
              </select>
              <input id="login-submit" class="submit_button shadow" type="submit" value="Edit Session"
                formaction="/editClassroomSession">
              <input id="login-submit" class="submit_button shadow" type="submit" value="Delete Session"
                formaction="/deleteClassroomSession">

              <label for="courseID" class="form__label">Select Classroom Session</label>
            </div>
          </div>
        </form>
          <form action="/addClassroomSession" method="post">

            <h2>Add Classroom Session</h2>

            <div class="form__group">
              <select name="courseTypeID" style="width:100%; height:34px">

                {{#each coursetypeslist}}
                <option value={{this.courseTypeID}}>{{this.Type}}</option>
                {{/each}}

              </select>

              <label for="courseTypeID" class="form__label">Select Course Type</label>
            </div>

            <div class="form__group">
              <input id="startTime" class="form__field" type="datetime-local" name="startTime"
                placeholder="Enter Start Time">
              <label for="startTime" class="form__label">Start Time: </label>
            </div>

            <div class="form__group">
              <input id="endTime" class="form__field" type="datetime-local" name="endTime" placeholder="Enter End Time">
              <label for="endTime" class="form__label">End Time: </label>
            </div>

            <div class="form__group">
              <select name="classroomID" style="width:100%; height:34px">
                {{#each sitesList}}
                <option value={{this.classroomID}}>{{this.site}}--{{this.classroomName}}</option>
                {{/each}}

              </select>
              <label for="classroom" class="form__label">Select Classroom</label>
            </div>
            <input id="login-submit" class="submit_button shadow" type="submit" value="Submit"
              formaction="/addClassroomSession">
            <a href="/ba_admin">
              <button class='submit_button shadow'>Cancel</button>
            </a>
          </form>
        </div>
    </div>

    <script src="/javascript/input_forms.js"></script>
</body>