<!DOCTYPE html>
<header>
    <title> Learners </title>
    <link href = '/css/home.css' rel="stylesheet" type="text/css"/>
</header>

<body>
  <div id='addDataBox'>
    <div id='loginFormDiv'>
        <div id="login__wrapper">
            <h2>Add or Edit Learners</h2>
        <div id="learnerSessions">

            <div class="form__group">
                    {{#each learner_list}}
   
            </div>
        </div>

      <form action="/editLearnerInfo" method="post">

            <div class="form__group">
                <input value="{{this.learnerLastName}}" id="LName" class="form__field" type="text" name="learnerLastName" placeholder="Last Name">
                <label for="LName" class="form__label">Last Name</label>
            </div>

            <div class="form__group">
                <input value="{{this.learnerFirstName}}" id="FName" class="form__field" type="text" name="learnerFirstName" placeholder="First Name">
                <label for="FName" class="form__label">First Name</label>
            </div>

            <div class="form__group">
                <input value="{{this.learnPrimaryEmail}}" id="Pemail" class="form__field" type="email" name="learnPrimaryEmail" placeholder="Primary E-mail">
                <label for="Pemail" class="form__label">Primary E-mail</label>
            </div>

            <div class="form__group">
                <input value="{{this.otherEmail}}" id="Semail" class="form__field" type="email" name="otherEmail" placeholder="Primary E-mail">
                <label for="Semail" class="form__label">Other E-mail (*optional)</label>
            </div>

            <div class="form__group">
                <input value="{{this.specialty}}" id="specialty" class="form__field" type="text" name="specialty" placeholder="specialty">
                <label for="specialty" class="form__label">Specialty</label>
            </div>

            <div class="form__group">
                <input value="{{this.role}}"id="Role" class="form__field" type="text" name="role" placeholder="Role">
                <label for="Role" class="form__label">Role</label>
            </div>


            <div class="form__group">
                <textarea value="{{this.comments}}" id="comments" class="form__field" rows="5" name="comments" placeholder="Additional Comments"></textarea>
                <label for="comments" class="form__label">Additional Comments </label>
            </div>
            <br>
            {{/each}}
        
        <input id="login-submit" class="submit_button shadow" type="submit" value="Submit">
      </form>
    <a href="/registrationForm"> 
      <button class='submit_button shadow'>Cancel</button>
    </a>
    </div>
  </div>
</body>