<!DOCTYPE html>
<header>
    <title> Assign Instructors to Session </title>
    <link href = '/css/home.css' rel="stylesheet" type="text/css"/>
</header>

<body>
  <div id='addDataBox'>
    <div id='loginFormDiv'>
      <form action="/addSite" method="post">

        <div id="login__wrapper">
            <h2>Assign Instructors to Session</h2>
          <div class="form__group">  
        <select style="width:100%; height:34px" name="Sessions">
                {{#each session_list}}
                    <option value={{this.courseRecordID}}>{{this.courseName}}</option>
                {{/each}}

        </select>   
        <label for="instructor" class="form__label">Select Session Name</label>
        </div>

        <br>
        <div id="instructorSessions">
        <div class="form__group">
        <select style="width:100%; height:34px" name="Instructors">
            {{#each instructor_list}}
                <option value={{this.instructorID}}>{{this.instructorLastName}}, {{this.instructorFirstName}}</option>
            {{/each}}

        </select>   
          <label for="instructorSession" class="form__label">Select Instructor</label>
        </div>
        </div>
        <a href="#" onclick="addInstructor();return false;" class="form__label" style="font-size: small;">add another instructor</a>
        <div><br style = "line-height:2;"></div> 

        <input id="login-submit" class="submit_button shadow" type="submit" value="Submit">
      </form>
    <a href="/ba_admin"> 
      <button class='submit_button shadow'>Cancel</button>
    </a>
    </div>
  </div>
</body>

<script>
  function addInstructor(){
    {{!-- <div class="form__group">
          <input id="instructorSession" class="form__field" type="text" name="instructorSession" placeholder="instructorSession">
          <label for="instructorSession" class="form__label">Teach Course: </label>
        </div> --}}

    var formGroup = document.createElement("div");    
    var einput = document.createElement("input");    
       

    einput.className="form__field";
    einput.type="text";
    formGroup.appendChild(einput);                                                              
    document.getElementById("instructorSessions").appendChild(formGroup); 

  };
</script>