<!DOCTYPE html>
<header>
    <title> CST Course Session Booker</title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</header>

<body>
  <div id='addDataBox'>
    <div id='loginFormDiv'>
      <form action="/insertInstructorOfficeDays" method="post">

        <div id="login__wrapper">
            <h2>Insert Instructor Office Days</h2>
          
        <div id="instructorOfficeDays">
        <div class="form__group">
        <select style="width:100%; height:34px" name="Instructors">
            {{#each instructor_list}}
                <option value={{this.instructorID}}>{{this.instructorLastName}}, {{this.instructorFirstName}}</option>
            {{/each}}

        </select> 
         <div><br/></div>         
         <input id="edit-instructor-office-day-submit" name= "edit-instructor-office-days-submit" formaction="/editInstructorOfficeDays" class="submit_button shadow" type="submit" value="Edit OfficeDays">
          <label for="instructorSession" class="form__label">Select Instructor</label>
        </div>
        </div>

        <br style = "line-height:2;"></br>
        <div class="form__group">  
        <label for="Capacity" class="form__label">Office Days</label>
        </div>
        <div id="OfficeDays">
          {{#each officeDays}}
           
        <div class="form__group" style="display:inline-block; position:relative"> 
        <input id="instructorOfficeDaysStart" class="form__field" type="date" name="instructorOfficeDaysStart" value="{{formatDate this.instructorofficedaysStart}}" >
        <label for="instructorOfficeDaysStart" class="form__label">Start Days</label>
        </div>

        <div class="form__group"style="display:inline-block; position:relative"> 
        <input id="instructorOfficeDaysEnd" class="form__field" type="date" name="instructorOfficeDaysEnd" value="{{formatDate this.instructorofficedaysEnd}}">
        <label for="instructorOfficeDaysEnd" class="form__label">End Days</label>
        </div>

        <div class="form__group">
            <textarea id="comments" class="form__field" rows="5" name="comments" placeholder="Additional Comments" >{{this.comments}}</textarea>
            <label for="comments" class="form__label">Additional Comments </label>
        </div>
        <a href="#" onclick="removeDate(this);return false;" class="form__label" style="font-size: small;">Delete</a>
        <div><br ></div>
        {{/each}}


        <div>
        <div class="form__group" style="display:inline-block; position:relative"> 
        <input id="instructorOfficeDaysStart" class="form__field" type="date" name="instructorOfficeDaysStart" >
        <label for="instructorOfficeDaysStart" class="form__label">Start Days</label>
        </div>

        <div class="form__group"style="display:inline-block; position:relative"> 
        <input id="instructorOfficeDaysEnd" class="form__field" type="date" name="instructorOfficeDaysEnd" >
        <label for="instructorOfficeDaysEnd" class="form__label">End Days</label>
        </div>
        </div>
        </div>
        <a href="#" onclick="addOfficeDays();return false;" class="form__label" style="font-size: small;margin-right:30px;">add another Office Days</a>
        <a href="#" onclick="removetag(OfficeDays);return false;" class="form__label" style="font-size: small;">Delete</a>
        <div><br style = "line-height:2;"></div>

         
        

        <div class="form__group">
            <textarea id="comments" class="form__field" rows="5" name="comments" placeholder="Additional Comments"></textarea>
            <label for="comments" class="form__label">Additional Comments </label>
        </div>
        <br>

      {{#if instructorID}}
      <div class="form__group">
        <input style="opacity:0" id="instructorID" class="form__field" type="text" name="instructorID" placeholder="instructorID" value="{{instructorID}}">
        <label style="opacity:0" for="instructorID" class="form__label">Instructor ID</label>
      </div>
      {{/if}}

        
        <input id="login-submit" class="submit_button shadow"  {{#if edit}}formaction="/updateInstructorOfficeDays" {{/if}} type="submit" value="Submit">
      </form>
    <a href="/registrationForm"> 
      <button class='submit_button shadow'>Cancel</button>
    </a>
    </div>
  </div>

  <script src="/javascript/input_forms.js"></script>
</body>

