<!DOCTYPE html>
<header>
    <title> CST Course Session Booker</title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</header>

<body>
  <div id='addDataBox'>
    <div id='loginFormDiv'>
      <form action="/insertInstructorLeaves" method="post">

        <div id="login__wrapper">
            <h2>Insert Instructor Leaves</h2>
          
        <div id="instructorleaves">
        <div class="form__group">
        <select style="width:100%; height:34px" name="Instructors">
            {{#each instructor_list}}
                <option value={{this.instructorID}}>{{this.instructorLastName}}, {{this.instructorFirstName}}</option>
            {{/each}}

        </select>   
        <div><br/></div>     
        <input id="edit-instructor-leaves-submit" name= "edit-instructor-leaves-submit" formaction="/editInstructorLeaves" class="submit_button shadow" type="submit" value="Edit Leaves">
          <label for="instructorSession" class="form__label">Select Instructor</label>
        </div>
        </div>

        <br style = "line-height:2;"></br>
        <div class="form__group">  
        <label for="Capacity" class="form__label">Leaves </label>
        </div>
        <div id="instructorLeaves">

          {{#each leaves}}
           <div class="form__group" style="display:inline-block; position:relative"> 
        <input id="instructorLeavesStart" class="form__field" type="date" name="instructorLeavesStart" value="{{formatDate this.instructorLeavesStart}}">
        <label for="instructorLeavesStart" class="form__label">Start Days</label>
        </div>

        <div class="form__group"style="display:inline-block; position:relative"> 
        <input id="instructorLeavesEnd" class="form__field" type="date" name="instructorLeavesEnd" value="{{formatDate this.instructorLeavesEnd}}" >
        <label for="instructorLeavesEnd" class="form__label">End Days</label>
        </div>

        <div class="form__group">
            <textarea id="comments" class="form__field" rows="5" name="comments" placeholder="Additional Comments">{{this.comments}}</textarea>
            <label for="comments" class="form__label">Additional Comments </label>
        </div>

        <a href="#" onclick="removeDate(this);return false;" class="form__label" style="font-size: small;">Delete</a>
        <br>

          {{/each}}

        <div>
        <div class="form__group" style="display:inline-block; position:relative"> 
        <input id="instructorLeavesStart" class="form__field" type="date" name="instructorLeavesStart" >
        <label for="instructorLeavesStart" class="form__label">Start Days</label>
        </div>

        <div class="form__group"style="display:inline-block; position:relative"> 
        <input id="instructorLeavesEnd" class="form__field" type="date" name="instructorLeavesEnd" >
        <label for="instructorLeavesEnd" class="form__label">End Days</label>
        </div>
        </div>
        </div>
        <a href="#" onclick="addLeaveDays();return false;" class="form__label" style="font-size: small;margin-right:30px;">add another Leaves</a>
        <a href="#" onclick="removetag(instructorLeaves);return false;" class="form__label" style="font-size: small;">Delete</a>
        <div><br style = "line-height:2;"></div>

         
        

        <div class="form__group">
            <textarea id="comments" class="form__field" rows="5" name="comments" placeholder="Additional Comments"></textarea>
            <label for="comments" class="form__label">Additional Comments </label>
        </div>
        <br>
        
      {{#if instructorID}}
      <div class="form__group">
        <input style="opacity:0" id="instructorID" class="form__field" type="text" name="instructorID" placeholder="instructorID" value="{{instructorID}}">
        <label style="opacity:0" for="instructorID" class="form__label">Instructor ID</label>
      </div>
      {{/if}}


        <input id="login-submit" class="submit_button shadow"{{#if edit}}formaction="/updateInstructorLeaves" {{/if}} type="submit" value="Submit">
      </form>
      <a href="/ba_admin"> 
      <button class='submit_button shadow'>Cancel</button>
    </a>
    
   
    </div>
  </div>

  <script src="/javascript/input_forms.js"></script>
</body>

