<!DOCTYPE html>
<header>
    <title> Assign Learners to Session </title>
    <link href = '/css/home.css' rel="stylesheet" type="text/css"/>
</header>

<body>
  {{> sidebar }}
  <div id='addDataBox'>
    <div id='loginFormDiv'>
      <form method="post">

        <div id="login__wrapper">
            <h2>Assign Learners to Session</h2>

        <div id="Sessions">
          <div class="form__group">  
        <select style="width:100%; height:34px" name="courseID">
                {{#each session_list}}
                    <option value={{this.courseID}}>{{this.Type}} - {{this.site}} - {{this.classroomName}} - {{this.startTime}}</option>
                {{/each}}

        </select>   
        <input id="login-submit" class="submit_button shadow" formaction="/removeAssignedLearners" type="submit" value="Remove Assigned Learners">
        <br>
        <br>

        <label for="instructor" class="form__label">Select Session Name</label>
        </div>
        <div id="learnerSessions">
        <div class="form__group">
        <select style="width:100%; height:34px" name="learnerID">
            {{#each learner_list}}
                <option value={{this.learnerID}}>{{this.learnerLastName}}, {{this.learnerFirstName}}</option>
            {{/each}}

        </select>   
          <label for="Session" class="form__label">Select Learner</label>
        </div>
        </div>
          <br>
        <div id="klrSessions">
        <div class="form__group">
        <select style="width:100%; height:34px" name="klrID">
            {{#each klr_list}}
                <option value={{this.klrID}}>{{this.klrName}}</option>
            {{/each}}

        </select>   
          <label for="Session" class="form__label">Select KLR</label>
        </div>
        </div>

        <div class="form__group">
          <input id="JIRA" class="form__field" type="text" name="JIRA" placeholder="JIRA">
          <label for="JIRA" class="form__label">JIRA #</label>
        </div>

        <input id="login-submit" class="submit_button shadow" formaction="/assignLearner" type="submit" value="Submit">
      </form>
    <a href="/ba_admin"> 
      <button type="button" class='submit_button shadow'>Cancel</button>
    </a>
    </div>
  </div>
</body>

<script>
</script>